.section1 {
  background: url(/images/sections/section1.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.section2 {
  background: url(/images/sections/section2.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.section3 {
  background: url(/images/sections/section3.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.iphone {
  background: url(/images/products/iphone15.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.iphonepro {
  background: url(/images/products/iphone15pro.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.watch {
  background: url(/images/products/watch.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.macbook {
  background: url(/images/products/macbook.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  background: url(/images/products/card.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.trade {
  background: url(/images/products/trade.png) no-repeat;
  background-position: center;
  background-size: cover;
}
